@model ArticleModel
<h1>
    Create Article
</h1>
<form asp-action="Create" asp-controller="Article" method="post" class="row">
    <div class="mb-2 col-12 col-lg-7">
            <label class="form-label"asp-for="ArticleId"></label>
            <input class="form-control" required asp-for="ArticleId" />
            <span asp-validation-for="ArticleId"></span>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="Title"></label>
        </div>
        <div>
            <input class="form-control" asp-for="Title" />
        </div>
        <div>
            <span asp-validation-for="Title"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="Description"></label>
        </div>
        <div>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
        </div>
        <div>
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="Text"></label>
        </div>
        <div>
            <textarea class="form-control" rows="3" asp-for="Text"></textarea>
        </div>
        <div>
            <span asp-validation-for="Text"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="PublicationDate"></label>
        </div>
        <div>
            <input class="form-control" id="pub-date" class="m121212121" asp-for="PublicationDate" type="datetime" />
        </div>
        <div>
            <span asp-validation-for="PublicationDate"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="Rate"></label>
        </div>
        <div>
            <input class="form-control" asp-for="Rate" type="number" />
        </div>
        <div>
            <span asp-validation-for="Rate"></span>
        </div>
    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div>
            <label class="form-label"asp-for="SourceName"></label>
        </div>
        <div>
            <input class="form-control" asp-for="SourceName" />
        </div>
        <div>
            <span asp-validation-for="SourceName"></span>
        </div>

    </div>
    <div class="mb-2 col-12 col-lg-7">
        <div class="row">
            <button class="btn btn-primary col">Submit</button>
        </div>
    </div>
</form>


@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
